<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @problem.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @problem.email %>
</p>

<p>
  <strong>Level:</strong>
  <%= @problem.level %>
</p>

<p>
  <strong>Question:</strong>
  <%= @problem.question %>
</p>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
